REACT_APP_DEFAULT_PROVIDER_URL: https://api.avax.network/ext/bc/C/rpc
REACT_APP_DEFAULT_BLOCK_EXPLORER_URL: https://snowtrace.io
REACT_APP_DEFAULT_CHAIN_ID: 43114
REACT_APP_DEFAULT_CHAIN_NAME: Avalanche Mainnet 
REACT_APP_SENTRY_DSN: dns
REACT_APP_ENVIRONMENT: DEV or PROD
REACT_APP_PROOF_KEY: fantom
REACT_APP_BACKEND_BASE_URL
REACT_APP_AUCTION_KEY: domain